body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #222;
  font-weight: 600;
  color: white;
  font-family: 'Roboto', sans-serif; }

p {
  margin: 0px;
  padding: 0px; }

#mainContainer {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  background-color: red; }

#sideBar {
  text-align: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 20%;
  left: -20%;
  position: absolute;
  min-height: 100%;
  background-color: #FFF;
  color: #222;
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease; }
  #sideBar div {
    padding-top: 15%; }
  #sideBar a {
    font-family: 'Rasa', serif;
    text-align: center;
    text-decoration: none;
    font-size: 4vmin; }
    #sideBar a:visited {
      color: #333; }
  #sideBar .logo {
    font-family: "Cedarville Cursive", cursive !important;
    font-size: 4vmin;
    position: absolute;
    bottom: 2%;
    text-align: center;
    width: 100%; }

.sideMenuList {
  list-style: none;
  height: 100%; }

#menuIcon {
  position: absolute;
  width: 3vmin;
  height: 3vmin;
  z-index: 3; }

#icon-close-black img {
  width: 4vmin;
  height: 4vmin; }

#icon-close-white img {
  width: 4vmin;
  height: 4vmin; }

#scrollPrompt {
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 10vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }
  #scrollPrompt .scrollIconGroup {
    width: 24px; }
    #scrollPrompt .scrollIconGroup .chevron1 {
      opacity: 0.25;
      position: relative;
      top: 80px; }
    #scrollPrompt .scrollIconGroup .chevron2 {
      opacity: 0.5;
      position: relative;
      top: 60px; }
    #scrollPrompt .scrollIconGroup .chevron3 {
      opacity: 1;
      position: relative;
      top: 40px; }
    #scrollPrompt .scrollIconGroup .chevron4 {
      opacity: 0.5;
      position: relative;
      top: 20px; }
    #scrollPrompt .scrollIconGroup .chevron5 {
      opacity: 0.25;
      position: relative; }

input[type=checkbox] {
  display: none;
  -moz-transition: left 2s ease;
  transition: left 2s ease; }

input:checked ~ #sideBar {
  left: 0; }

input:checked ~ #content {
  left: 20%; }

label {
  padding: 10px 0px 0px 10px;
  z-index: 2;
  position: absolute;
  top: 0;
  -moz-transition: left 2s ease;
  transition: left 2s ease; }
  label img {
    width: 30px;
    height: 30px; }

#content {
  -moz-transition: left 0.5s ease;
  transition: left 0.5s ease;
  width: 100%;
  height: 100%;
  background-color: #222; }

#mainHeading {
  font-family: 'Rasa', serif;
  font-size: 8vmin;
  top: -15%;
  position: relative; }
  #mainHeading p {
    margin: 0px; }

#subHeading {
  margin: 0px;
  font-weight: 200;
  font-size: 4vmin;
  font-style: italic;
  position: relative;
  top: -13%; }

#landingPage {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; }

.introList {
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 2.5vmin;
  width: 40%;
  top: -5%; }

.introListIcon {
  display: flex;
  align-items: center;
  justify-content: center; }
  .introListIcon img {
    width: 3vmin;
    height: 3vmin; }

.introListItem {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .introListItem * {
    margin-left: 6%; }

.introListSeperator {
  background-color: white;
  width: 1px;
  height: 6vmin; }

.introListSpacer {
  padding: 2%; }

.skipToFav {
  position: relative;
  top: 10%;
  font-size: 2.5vmin;
  font-weight: 300;
  color: white; }
  .skipToFav a:visited {
    color: white; }

/*# sourceMappingURL=index.css.map */
